body{
  background-color: white;
}

.bannerimage {
  filter: brightness(75%);
  width: 99vw;
  position: absolute;
  z-index: -1;
}

.line-1{
  font-size: 11vmax;
  text-align: center;
  padding-top: 7.5vmax;
  padding-bottom: 7.5vmax;
  color: lightgray;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.square{
  background-color: blue;
  width: 25vw;
  height: 25vw;
  text-align: center;
  font-size: 10vw;
  padding: 4.5vw;
}

.text{
  padding: 5vw 7.5vw;
  font-size: 2.5vw;
  left: 80vw;
  margin-right: 12.5vw;
}

.btn-group:hover{
  background-color: #18A864;
  border-radius: 5px;
}

.dropdown:hover{
  background-color: #159559;
  border-radius: 5px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1vw;
}

.item{
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 1vw;
  padding: 2vw;
}


/* HOME PAGE */

.backplate {
  background: rgba(211, 211, 211, 0.8);
  padding: 10vw;
  padding-top: 6vh;
  padding-bottom: 5vh;
}

.home-options {
  border-style: solid;
  border-color: #188555;
  border-width: 1.5vw;
  border-radius: 10px;
}

.home-option {
  background-color: #d2eee1;
  display: flex;
  padding-top: 3vw;
  padding-left: 7.5vw;
  padding-bottom: 3vw;
  border-bottom-style: solid;
  border-bottom-width: 1vw;
  border-bottom-color: #188555;
}

.option-button {
  background-color: #1bbb70;
  border-color: #188555;
  color: white;
}

.photo-category {
  width: 30vw;
  height: 30vw;
  text-align: center;
  font-size: 5vw;
  padding: 2.5vw;
}

.create-form{
  margin: 5vw;
}

.submit-btn{
  margin-top: 1vw;
}
.credits {
  text-align: center;
  color: black;
}

.photo-detail {
  width: 30vw;
  height: 30vw;
  text-align: center;
  font-size: 5vw;
  padding: 2.5vw;
}

.content{
  background-color: lightgray;
  padding: 2.5vw;
  padding-top:1vw;
  margin: 0vw 2.5vw;
}
