body{
  background-color: white;
}

.bannerimage {
  filter: brightness(75%);
  width: 99vw;
  position: absolute;
  z-index: -1;
}

.line-1{
  font-size: 11vmax;
  text-align: center;
  padding-top: 7.5vmax;
  padding-bottom: 7.5vmax;
  color: lightgray;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.content{
  background: rgba(150, 150, 150, 0.9);
  padding: 4.5vw;
  padding-top: 2.5vw;
  margin: 3vw;
  border-radius: 10px;
}

.home-option{
  background-color: red;
  display: flex;
  padding-top: 1vw;
  padding-left: 7.5vw;
  padding-bottom: 1vw;
  border-style: solid;
}

.square{
  background-color: blue;
  width: 25vw;
  height: 25vw;
  text-align: center;
  font-size: 10vw;
  padding: 4.5vw;
}

.text{
  padding: 5vw 7.5vw;
  font-size: 2.5vw;
  left: 80vw;
  margin-right: 12.5vw;
}

.home-options{
  border-style: solid;
}

.btn-group:hover{
  background-color: #18A864;
  border-radius: 5px;
}

.dropdown:hover{
  background-color: #159559;
  border-radius: 5px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1vw;
}

.item{
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 1vw;
  padding: 1vw;
}

.list-square{
  background-color: blue;
  width: 15vw;
  height: 15vw;
  text-align: center;
  font-size: 5vw;
  padding: 2.5vw;
}

.create-form{
  margin: 5vw;
}
